/* header */
#head {
	display: block;
	text-align: center;
	font-family: Georgia, Times, serif;
	color: black;
}

#head:hover {
	color:darkgray;
}

/* navigation */

#nav-bar {
	background-color: lightgray;
	box-shadow: 0 5px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
}

.nav-items > li {
	display: inline-block;
}

.nav-items > li > a {
	line-height: 60px;
	padding: 0 30px;
	color:#000;
}

.nav-items > li > a:hover {
	color: rgba(0, 0, 0, 0.5);
}

li {
	list-style: none;
	font-size: 20px;
}

a {
	font-family: Georgia, Times, serif;
	text-decoration : none;
}

/* body */

body {
	min-width: 1100px;
}

img {
  align-items: center;
}

.main_photo {
	float : left;
	display: block;
	width: 500px;
	height: 300px;
	padding: 10px;
}

.main_photo:hover {
  opacity : 70%;
}

.text_photo {
	float : right;
	display: block;
	width: 500px;
	height: 300px;
}

.text_photo:hover {
	opacity : 70%;
  }

@media all and (max-width : 1100px) {
	.text_photo {
		display: none;
	}
}


.city {
	float : left;
}

/* footer */
#info {
	font-family: Times, serif;
	position:relative;
	text-align: right;
	float : right;
}


/* responsive web design */
@media all and (max-width : 1000px) {
	#nav-bar {
		text-align: left;
	}
	.text_photo {
		display: none;
	}
}

@media all and (min-width : 1001px) {
	#nav-bar {
		text-align: center;
	}
}
