#head {
	text-align: center;
}

body {
  background-color: lightgray;
}

.main_photo {
  display: inline-block;
  width: 500px;
  height: 300px;
}

.main_photo:hover {
  opacity : 70%;
}

h1 {
  font-family: Georgia, Times, serif;
  color: black;
}

h3 {
  font-family: Georgia, Times, serif;
  color: white;
  display: inline-block;
}

#head:hover {
	color:darkgray;
}

#info {
	text-align: right;
}
