
#head {
	text-align: center;
}

body {
  background-color: lightgray;
}

a {
  font-family: 'Georgia';
  text-decoration: none;
  display: inline-block;
  margin-right: 10px;
}

img {
  display: inline-block;
  width: 500px;
  height: 300px;
  margin-right: 10px;
}

p {
  color: white;
}

h1 {
  font-family: Georgia, Times, serif;
  color: black;
}

h3 {
  font-family: Georgia, Times, serif;
  color: white;
  display: inline-block;
}

#head:hover {
	color:darkgray;
}

#info {
	text-align: right;
}
